# dotfiles
alias\
 dotfiles='/usr/bin/git --git-dir="${HOME}/.dotfiles" --work-tree="${HOME}"'\
 dot='dotfiles'\

# shortcuts
alias\
 cds='cd "${ABS_SRC}"'\
 cdv='cd "${ABS_VCS}"'\
 c='composer'\
 d='docker'\
 dc='docker-compose'\
 dcdev='docker-compose -f docker-compose.yml -f docker-compose.dev.yml'\
 dcpro='docker-compose -f docker-compose.yml -f docker-compose.pro.yml'\
 g='git'\
 m='make'\
 p='php'\
 v='vim'\

# misc
alias\
 bt='bluetoothctl'\
 hibernate='systemctl hibernate &! exit'\
 ssu='sudo su --login'\

# local
[ -f "${HOME}/.aliases.local" ] && source "${HOME}/.aliases.local"

# private
[ -f "${HOME}/.aliases.private" ] && source "${HOME}/.aliases.private"

