[core]
  excludesfile = ~/.gitignore_global
  editor = vim
  autocrlf = false
[alias]
  a = add
  aa = add .
  br = branch
  cm = commit
  cma = commit --amend
  cmane = commit --amend --no-edit
  cmm = commit -m
  ch = checkout
  chb = checkout -b
  cl = clone
  d = diff
  do = diff origin
  last = log -1 HEAD
  l = log --oneline -n 10
  mr = merge
  mrs = merge --squash
  pl = pull
  plr = pull --rebase
  ph = push
  phu = "!git push -u origin $(git rev-parse --abbrev-ref HEAD)"
  pht = push --tags
  rs = reset
  rsh = reset --hard
  s = status
  sm = submodule
  sh = stash
  tg = tag
  tgl = tag --list
[include]
  path = ~/.gitconfig.local
