[core]
  excludesfile = ~/.gitignore_global
  editor = vim
  autocrlf = false
[alias]
  a = add
  b = branch
  c = commit
  ca = commit --amend
  cane = commit --amend --no-edit
  cm = commit -m
  ch = checkout
  chb = checkout -b
  chm = checkout master
  cl = clone
  d = diff
  l = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  lp = l -p
  lst = log -1 HEAD
  m = merge
  ms = merge --squash
  p = pull
  pr = pull --rebase
  ph = push
  phu = "!git push -u origin $(git rev-parse --abbrev-ref HEAD)"
  pht = push --tags
  r = reset
  rh = reset --hard
  rb = rebase
  rt = remote
  s = status
  sm = submodule
  sh = stash
  t = tag
  tl = tag --list
[include]
  path = ~/.gitconfig.d/local
[includeIf "gitdir:~/.dotfiles*"]
	path = ~/.gitconfig.d/dotfiles
