"*":
  core:
    openEmptyEditorOnStart: false
    projectHome: "~/src/github.com"
    telemetryConsent: "no"
  "exception-reporting":
    userId: "632fdcba-1f91-419e-95f4-cd8b0f108069"
  welcome:
    showOnStartup: false
